{% extends "auth_base.html" %}

{% block title %}Dashboard Secretaire{% endblock %}

{% block content %}
<h1>Espace Secretaire</h1>
<p>Gestion de l'agenda, disponibilites, flux patient et rendez-vous.</p>
<ul>
    <li>Rendez-vous aujourd'hui: {{ today_count }}</li>
    <li>Cas urgents: {{ urgent_count }}</li>
</ul>
<p>
    <a class="logout-link" href="{% url 'appointments-list' %}">Voir agenda</a> |
    <a class="logout-link" href="{% url 'appointment-create' %}">Ajouter un rendez-vous</a>
</p>
{% if appointments %}
<h3>Prochains rendez-vous</h3>
<ul>
    {% for appointment in appointments %}
        <li>{{ appointment.appointment_date }} {{ appointment.appointment_time }} - {{ appointment.patient }} avec {{ appointment.doctor }}</li>
    {% endfor %}
</ul>
{% endif %}
<a class="logout-link" href="{% url 'logout' %}">Se deconnecter</a>
{% endblock %}
